<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lishe">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lishe">
        <activity android:name=".LisheNaCorona" />
        <activity android:name=".UlajiUnaofaa" />
        <activity android:name=".UmuhimuMatunda" />
        <activity android:name=".UmuhimuTangawizi" />
        <activity android:name=".MloKamiliSingeli" />
        <activity android:name=".MloKamiliKwaya" />
        <activity android:name=".MloKamiliAnimation" />
        <activity android:name=".Vipeperushi" />
        <activity android:name=".MaswaliNaMajibu" />
        <activity android:name=".DarasaVideos" />
        <activity android:name=".Tafiti" />
        <activity android:name=".Gallery" />
        <activity android:name=".Mazoezi" />
        <activity android:name=".DietPlan" />
        <activity android:name=".BodyMaxIndex" />
        <activity android:name=".DondooZaLishe" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>